@model IEnumerable<VLO.Models.TerminosCarne>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Termino)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Termino)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTerminoCarne }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTerminoCarne }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTerminoCarne })
        </td>
    </tr>
}

</table>
