<ul>
    <li class="label">Menu</li>

    <li><a  href="@Url.Action("Index","Ordenes")"><i class="ti-layout-media-left"></i>  Ordenes </a></li>
    <li class="label">Administracion</li>

    <li><a asp-action="Ventas" asp-controller="Application"><i class="ti-tablet"></i>Reporte Ventas</a></li>
    <li><a href="@Url.Action("Index","Empleados")"><i class="ti-pencil"></i> Empleados </a></li>
    <li><a href="@Url.Action("Index","TurnoEmpleado")"><i class="ti-wand"></i> Asignaciones </a></li>
    <li><a href="@Url.Action("Index","Turnos")"><i class="ti-timer"></i> Turnos </a></li>
    <li><a href="@Url.Action("Index","Productos")"><i class="ti-package"></i> Productos </a></li>
    <li><a href="@Url.Action("Index","DetalleCompras")"><i class="ti-money"></i> Compras </a></li>
    <li><a href="@Url.Action("Index","Proveedores")"><i class="ti-agenda"></i> Proveedores </a></li>
    <li><a href="@Url.Action("Index","Mesas")"><i class="ti-tablet"></i> Mesas </a></li>
    <li><a href="@Url.Action("Index","Menus")"><i class="ti-comment"></i> Menus </a></li>
    <li><a href="@Url.Action("Index","Usuarios")"><i class="ti-user"></i> Usuarios </a></li>

</ul>